@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Colores principales:
Fucsia vibrante (para acentos y botones): #e843c3

Verde slime (elementos destacados, fondos creativos): #9be13c

Negro oscuro (fondo principal): #1e1e1e

Colores secundarios (para mantener balance visual):
Gris claro (texto secundario, bordes): #bfbfbf

Blanco hueso (fondos, contraste): #f5f5f5

Rosa pastel (hover o detalles suaves): #fda4e3

Colores de estado (para e-commerce):
✅ Éxito: #71dd8a

❌ Error: #f65a5a

⚠️ Advertencia: #f7c948

*/

/* src/fonts.css */
/* @font-face {
  font-family: 'October';
  src: url('./fonts/OCTOBER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #bfbfbf;
} */

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #1e1e1e;
}

@media (min-width: 768px) {
  .md\:text-base {
      font-size: 1rem /* 16px */;
      line-height: 1.5rem /* 24px */;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #bfbfbf;
    background-color: #1e1e1e;
  }
  button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 150ms;
    transition-duration: 250ms;
    border-radius: 0.5rem;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem;

    --tw-text-opacity: 1;
    color:  #9be13c;
    
    background-color: rgb(232 67 195 / var(--tw-text-opacity))/* #e843c3 */;
  }
  button:hover  {
    border-radius: 0.5rem;
    opacity: 0.85;
    --tw-translate-y: -0.25rem /* -4px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    
    
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  /* transition ease-in-out delay-150 duration-250 hover:-translate-y-1 hover:scale-110 rounded-full bg-Lime hover:opacity-85 hover:shadow-2xl */
}
